/* Asegura que el body llene toda la ventana */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("/static/images/menu/b-menu.png");
    background-repeat: no-repeat;
    background-size: 100% 100%; /* múltiplos exactos 10x */
    background-position: center;
    image-rendering: pixelated;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Botón centrado y visible */
button {
    font-size: 24px;
    padding: 15px 30px;
    cursor: pointer;
}
