/* Asegura que el body llene toda la ventana */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("/static/images/middle/middle_back.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%; /* múltiplos exactos 10x */
    background-position: center;
    image-rendering: pixelated;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_here_1 {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: transform 0.2s ease;
    width: 100px;
    height: 100px;
}

.button_here_1:hover {
    transform: translate(-50%, -50%) scale(1.1);
}

.button_here_2 {
    position: absolute;
    top: 50%;
    right: 71%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: transform 0.2s ease;
    width: 100px;
    height: 100px;
}

.button_here_2:hover {
    transform: translate(-50%, -50%) scale(1.1);
}

.r_text {
    position: absolute;
    top: 65%;
    left: 75%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.r_text_2 {
    position: absolute;
    top: 65%;
    right: 75%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.b_reset {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}